body {
	margin: 0;
	font-family: 'Cantarell', sans-serif;
}

a {
	color: #FFF;
}
.landscape {
	background: url(../assets/img/landscape.png);
	background-size: cover;
	border-bottom: 10px solid #2c5d2c;
	width: 100%;
	height: 100vh;
	text-align: center;
	position: relative;

	.quigleyfest {
		padding: 100px 0 20px;
		width: 100%;
		max-width: 858px;
	}

	h2 {
		font-family: 'Fjalla One', sans-serif;
		color: #bd4948;
		text-transform: uppercase;
		font-weight: normal;
		margin: 10px auto 50px auto; 
		width: 80%;
	}

	.scroll-down {
		background: #b64847;		
		text-decoration: none;
		padding: 10px 15px;

		&:hover {
			background: #9d3231;
		}
	}
}

.content {
	h2 {
		font-family: 'Fjalla One', sans-serif;
		text-transform: uppercase;
		font-size: 48px;

		&.pink {
			color: #bd4948;
		}
	}

	&.green {
		background: #4a834a url(../assets/img/hills.png) bottom center no-repeat;
	}

	&.blue {
		background: #0d5950 url(../assets/img/hills-2.png) bottom center no-repeat;
	}

	&.yellow {
		color: #603c1d;
		background: #f7e2c1 url(../assets/img/halftone.png) bottom center no-repeat;
	}

	&.pink {
		background: #bd4948 url(../assets/img/quigleyfest-alpha.png);
	}

	color: #FFF;
	padding: 50px;
	text-align: center;

	.wrapper {
		width: 70%;
		margin: 0 auto;
	}

}





@media only screen and (max-width: 1024px) {

	.landscape {
		height: 80vh;

	    .quigleyfest {
	        width: 90%;
	        margin-bottom: 180px;
	    }		

	    h2 {
	    	color: white;
	    	margin-bottom: 20px;
	    }
	}

}



@media only screen and (max-width: 768px) {

	.landscape {
		height: 50vh;

	    .quigleyfest {
	        width: 90%;
	        margin-bottom: 100px;
	    }		

	    h2 {
	    	color: white;
	    	margin-bottom: 20px;
	    }
	}

}


@media only screen and (max-width: 420px) {

	.landscape {
		height: 400px;

	    .quigleyfest {
	        width: 90%;
	        margin-bottom: 80px;
	    }		

	    h2 {
	    	color: white;
	    	margin-bottom: 20px;
	    }

	    a {
	    	display: none;
	    }
	}

	.content {		
		padding: 30px;

		.wrapper {
			width: 90%;
		}

		h2 {
			font-size: 30px;
		}	
	}


}


