<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <section class="landscape">
      <div class="wrapper">
        <img src="/assets/img/quigleyfest.png" alt="Quigleyfest" class="quigleyfest">
        <h2><strong>Saturday 1st September</strong> College Valley, Northumberland</h2>

        <a href="#top" class="scroll-down">Tell me more!</a>
      </div>
    </section>

    <section class="content yellow" id="top">
      <div class="wrapper">
        <h2 class="pink">Deirdre &amp; Eoghan are getting married!</h2>

        <h3>When?</h3>
        <p>Saturday 1st September 2018</p>
        <p>2:15pm</p>

        <h3>Where?</h3>
        <p>Cuddystone Hall, College Valley, Kirknewton, Wooler, NE716TP</p>

        <h3>Why?</h3>
        <p>Tax reasons</p>

        <h3>How?</h3>
        In a ceremony as quick as legally possible

        <h3>Who?</h3>
        <p>Guests who receive an invite, and wedding crashers - welcome if they are good craic!</p>
      </div>
    </section>

    <section class="content green">
      <div class="wrapper">
        <h2>Hello!</h2>
        <p>At last we are getting married and we have set up a website to get people who want to come excited
and give them some local info to plan travel/accommodation etc.</p>
        <p>We are planning a pretty informal rural wedding in the beautiful Cheviot Hills in Northumberland.</p>
        <p> Think green hill backdrop, village hall, BBQ, tent and hopefully some sunshine...</p>
      </div>
    </section>

    <section class="content blue">
      <div class="wrapper">
        <h2>Accommodation</h2>
        <p>There's a few different options for places to stay...</p>
        
        <h3>College Valley</h3>
        <div class="col">
          <p><strong>Mounthooley Bunkhouse</strong></p>
          <p>Youth hostel that sleeps 20, reasonable price and close to thewedding venue.</p>
          <p>Book via Mrs Pauline Baker: Tel: 01668 216 358 after 6pm or <a href="mailto:paulineatthetop@hotmail.com">paulineatthetop@hotmail.com</a></p>
          <p><a href="www.college-valley.co.uk" target="_blank">www.college-valley.co.uk</a></p>
        </div>

        <h3>Wooler (Closest Village, bus can stop here if requested)</h3>
        <div class="col">
          <p><strong>Tilldale House</strong></p>
          <p>Bed &amp; Breakfast - local and highly recommended.</p>
          <p>Tel: 01668 281 450 or <a href="mailto:tildale98@gmail.com">tildale98@gmail.com</a></p>
        </div>
        <div class="col">
          <p><strong>The Old Court House</strong></p>
          <p>Boutique B&amp;B in centre of Wooler.</p>
          <p><a href="http://www.theoldcourthousewooler.co.uk/" target="_blank">www.theoldcourthousewooler.co.uk</a></p>
        </div>
        <div class="col">
          <p><strong>Cheviot View</strong></p>
          <p>Wooler bed and breakfast.</p>
          <p><a href="http://www.cheviotview-wooler.co.uk/" target="_blank">www.cheviotview-wooler.co.uk</a></p>
        </div>
        <div class="col">
          <p><strong>Tankerville Hotel</strong></p>
          <p>Hotel in Wooler with recommended restaurant.</p>
          <p><a href="http://tankervillehotel.co.uk/" target="_blank">www.tankervillehotel.co.uk/</a></p>
        </div>
        <div class="col">
          <p><strong>Bridgend Guesthouse</strong></p>
          <p><a href="http://www.bridgendwoolerguesthouse.co.uk/" target="_blank">www.bridgendwoolerguesthouse.co.uk</a></p>
        </div>
        <h3>Newcastle (Bus will drop off and take people back if requested)</h3>
        <p>Plenty of places to stay in Newcastle for various budgets including hotel, apartments and bed and
breakfast. Few examples below.</p>
        <div class="col">
          <p><strong>Surtees Hotel</strong></p>
          <p>Budget hotel in City Centre on Dean Street.</p>
          <p>Available via <a href="http://www.booking.com" target="_blank">www.booking.com</a></p>
        </div>
        <div class="col">
          <p><strong>Sleeperz Hotel</strong></p>
          <p>Westgate Road in Newcastle, budget hotel in City Centre.</p>
          <p><a href="https://www.sleeperz.com/newcastle" target="_blank">www.sleeperz.com/newcastle</a></p>
        </div>
        <div class="col">
          <p><strong>Premier Inn</strong></p>
          <p>Newgate Road Newcastle- Very central however may be quite noisy...</p>
          <p><a href="http://www.premierinn.com" target="_blank">www.premierinn.com</a></p>
        </div>
        <div class="col">
          <p><strong>Royal Station Hotel</strong></p>
          <p>Upmarket hotel right next to train station.</p>
          <p><a href="https://www.thecairncollection.co.uk/hotels/royal-station-hotel/" target="_blank">www.thecairncollection.co.uk/hotels/royal-station-hotel</a></p>
        </div>
      </div>
    </section>

    <section class="content yellow">
      <div class="wrapper">
      <h2>Travel</h2>

      <h3>Bus</h3>
      <p>We will run a bus from Newcastle city centre, leaving at approximately 12.30pm stopping at
      Wooler, to the venue to arrive at 14:15pm. And another bus to take people back at the end of the
      night, 12.30am. Please let us know with RSVP if you need a space on the bus!</p>

      <h3>Car</h3>
      <p>The venue is 1hr 30mins from Newcastle. There will be car parking for drivers at hall and at
cottages.</p>

      <h3>Taxis</h3>
      <p>Taxis will be available to book but it is a good idea to book these ahead of time as mobile
signal will be limited in the valley. The cottages in the valley do have landlines (these are olden
days phone that plug into walls and don't rely on mobile phone signal)</p>

      <h3>Flights</h3>
      <p>Nearest airport is Newcastle Airport, There is no public transport directly between the
venue and the airport but it is well linked with the Metro and taxis to Newcastle city centre. The
metro takes about 30 minutes - remember to buy a ticket, there are no barriers at the airport (usually)
but there are always ones in city centre stops!</p>

<p>Will update with details on the bus and put people in touch of lift shares are possible!</p>
    </div>
    </section>

    <section class="content pink">
    <div class="wrapper">
    <h2>RSVP!</h2>

    <p>You can email us or text us to RSVP. Let us know whether you would like a seat on the bus from Wooler or Newcastle, and if you have any dietary requirements. </p>

    <h3>Text</h3>
    <p>Text Deirdre on 07980204937</p>

    <h3>Email</h3>
    <p>Email <a href="mailto:Quigleyfest@gmail.com">Quigleyfest@gmail.com</a></p>
    </div>
    </section>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
  $(document).ready(function(){
  $(".scroll-down").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    } 
  });
});
  </script>
</html>
